@charset "utf-8";

/* common */

body,
ul,
li,
h1,
h2,
h3,
area,
div,
img {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

p,
small {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

body {
  color: #333;
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.headline-container,
.headline-content-btn,
.headline-notes {
  padding: 0 5%;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.header-logo-pc {
  display: none;
}

header ul {
  display: none;
}

/* header */

header {
  background: white;
  display: block;
  width: 100%;
  height: 48px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin: 0 18px;
}

.header-logo-sp {
  height: 16px;
}


.header-nav-container {
  display: block;
  width: 30px;
  height: 21px;
}

.header-nav-line1 {
  display: block;
  background-color: black;
  border-radius: 10px;
  width: 100%;
  height: 3px;
}

.header-nav-line2,
.header-nav-line3 {
  display: block;
  background-color: black;
  border-radius: 10px;
  width: 100%;
  height: 3px;
  margin-top: 7px;
}

/* headline */


.headline-img {
  background-size: cover;
  background-position: center;
}

/* headline-container */

.headline-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-top: -45vh;
}

.headline-content h2 {
  text-align: center;
  line-height: 36px;
  color: #333;
  font-family: 'Lato', sans-serif;
  margin-bottom: 15px;
  font-weight: bold;
}

.headline-containt-images {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  width: 100%;

}

.headline-containt-images img {
  margin-right: 8px;
}

.hl-content-side_img {
  width: 27.5%;
}

.hl-content-main_img {
  width: 40%;
}

.headline-counseling-btn {
  display: flex;
  align-items: center;
  height: 64px;
  border-radius: 38px;
  background-color: #f79214;
  color: white;
  text-decoration: none;
  text-align: center;
  justify-content: center;
  width: 100%;
  font-weight: 700;
  margin-bottom: 15px;
}


.headline-notes {
  color: #a2a2a4;
  font-size: 12px;
  line-height: 1.5;
}

/* about-wrapper */

.about-wrapper {
  background-color: #f79214;
  padding: 30px 0;
}

.about {
  display: flex;
  max-width: none;
  padding: 0 20px;
  flex-direction: column;
  color: white;
}

.about-movie {
  width: 100%;
  margin-bottom: 16px;
}

.about-potepan {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.about-potepan h2 {
  text-align: left;
  margin:0 0 10px 0;
  width: 100%;
  font-size: 38px;
  font-weight: 900;
  letter-spacing: .1em;
  line-height: 54px;
}

.about h2>span {
  font-family: 'Lato', sans-serif;
  font-size: 38px;
  letter-spacing: 1px;
  font-weight: 900;
}

.about-potepan p {
  margin: 0 0 20px 0;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  text-align: left;
}

.about-btn {
  display: flex;
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}

.about-btn-icon {
  margin-right: 5px;;
}