@charset "utf-8";

/* common */

*, *:before, *:after {
  word-break: break-all;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
}

body,
ul,
li,
h1,
h2,
h3,
section,
div,
img {
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
}

ul {
  list-style: none;
}

p,
small {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

body {
  color: #333;
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 14px;
  font-weight: 500;
}



h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

section {
  display: block;
}

.headline-img-pc {
  display: none;
}

.header-logo-pc {
  display: none;
}

.headline-document-btn {
  display: none;
}

header ul {
  display: none;
}

/* header */

header {
  background: white;
  display: block;
  width: 100%;
  height: 48px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin: 0 18px;
}

.header-logo-sp {
  height: 16px;
}


.header-nav-container {
  display: block;
  width: 30px;
  height: 21px;
}

.header-nav-line1 {
  display: block;
  background-color: black;
  border-radius: 10px;
  width: 100%;
  height: 3px;
}

.header-nav-line2,
.header-nav-line3 {
  display: block;
  background-color: black;
  border-radius: 10px;
  width: 100%;
  height: 3px;
  margin-top: 7px;
}

/* headline */


.headline-img-sp {
  background-size: cover;
  background-position: center;
  width: 100%;
}

.headline-container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-top: -45vw;
  margin-bottom: 20px;
}

.headline-content h2 {
  text-align: center;
  line-height: 36px;
  color: #333;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 25px;
  margin-left: calc(((100vw - 100%)/2)*-1);
  margin-right: calc(((100vw - 100%)/2)*-1);
  margin-top: 0;
  margin-bottom: 15px;
}

.headline-containt-images {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  width: 100%;

}

.headline-containt-images img {
  margin-right: 8px;
}

.hl-content-side_img {
  width: 27.5%;
}

.hl-content-main_img {
  width: 40%;
}

.headline-content-btns {
  display: flex;
  box-sizing: border-box;
  margin: 0;
  box-sizing: border-box;

}

.headline-counseling-btn {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 16px;
  height: 64px;
  border-radius: 38px;
  background-color: #f79214;
  color: white;
  text-decoration: none;
  width: 100%;
  font-weight: 700;

}


.headline-notes {
  color: #a2a2a4;
  font-size: 12px;
  line-height: 1.5;
}

/* about-wrapper */

.about-wrapper {
  background-color: #f79214;
  padding: 30px 0;
}

.about {
  display: flex;
  max-width: none;
  padding: 0 20px;
  flex-direction: column;
  color: white;
}

.about-movie {
  width: 100%;
  margin-bottom: 16px;
}

.about-potepan {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.about-potepan h2 {
  text-align: left;
  margin:0 0 10px 0;
  width: 100%;
  font-size: 38px;
  font-weight: 900;
  letter-spacing: .1em;
  line-height: 54px;
}

.about h2>span {
  font-family: 'Lato', sans-serif;
  font-size: 38px;
  letter-spacing: 1px;
  font-weight: 900;
}

.about-potepan p {
  margin: 0 0 20px 0;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  text-align: left;
}

.about-btn {
  display: flex;
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}

.about-btn-icon {
  margin-right: 5px;;
}

/* large screan */

@media screen and (min-width: 767px) {
 
  /* header */

  header {
    background-color: none;
    position: absolute;
    z-index: 15;
  }

  .header-container {
    margin: 0 36px;
    max-width: 100%;
  }

  .header-logo-sp {
    display: none;
  }

  .header-logo-pc {
    display: block;
    height: 20px;
    width: auto;
  }

  header a {
    text-decoration: none;
    transition: .2s;
  }
  
  header a:hover {
    opacity: .8;
  }

  /* headline */



  .headline-img-sp {
    display: none;
  }

  .headline {
  position: relative;
  background-image: url(images/headline-img-sp.webp);
  background-size: cover;
  background-position: center;
  padding-top: 100px;
  padding-bottom: 28px;
  }

  .headline-container {
    max-width: 1140px;
    padding-left: 50px;
    padding-right: 50px;
    position:relative;
    margin-top: 0;
  }

  .headline-content {
    margin-bottom: 70px;
    width: fit-content;
  }

  .headline-content h2 {
    font-size: 38px;
    line-height: 54px;
    margin-left: auto;
    margin-right: auto;
  }

  .headline-content-btns a {
    transition: .2s;
  }

  .headline-content-btns a:hover {
    opacity: .8;
  }

  .headline-counseling-btn {
    width: 306px;
    margin-right: 15px;
  }

  .headline-document-btn {
    display: flex;
    height: 64px;
    border: 1px solid #e0e0e0;
    color: #333;
    width: 176px;
    border-radius: 38px;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
  }

  /* about-wrapper */

  .about-wrapper {
    padding: 44px 0; 
  }

  .about {
    max-width: 1140px;
    padding-left: 50px;
    padding-right: 50px;
    justify-content: space-between;
    align-items: center;
  }

  .about-movie {
    margin-bottom: 16px;
    width: 75%;
  }

  .about-potepan {
    width: 75%;
  }
}

@media screen and (min-width:1080px) {
  /* header */

  header {
    padding: 20px 0;
    background-color: transparent;
  }

  .header-container {
    height: 40px;
  }

  .header-nav-container {
    display: none;
  }


  .header-nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    position: relative;
    z-index: 100;
  }

  .header-nav-item {
    text-decoration: none;
    display: block;
    font-size: 10px;
    margin-right: 35px;
    font-weight: 700;
  }

  .header-nav-item a {
    color: #333;
    display: block;
  }
  

  .header-nav-item::first-line {
    font-size: 14px;
    font-family: 'Lato',sans-serif;
  }

  .header-counseling-btn {
    font-size: 12px;
    display: flex;
    justify-content: center;
    background-color: #f79214;
    color: #fff;
    border-radius: 38px;
    height: 40px;
    line-height: 40px;
    width: 148px;
    text-align: center;
    padding: 0 20px;
    font-weight: 700;
  }

  /* about-wrapper */

  .about {
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
  }

  .about-movie {
    width: 50%;
  }

  .about-potepan {
    margin-left: 32px;
  }
}